*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.grid-container{
    display:grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
    grid-gap:1vw;
    justify-content: center;
    align-content: start;
}

.container-flex{
    display:flex;
}

header{
    width:100vw;
    height: 15vh;
    position: fixed;
    background-color: #f8f6f6;
    font-family: "Segoe UI";
}

#logo{
    grid-column: 3/5;
    
}

#logo img{
    width:100%;
}

nav{
    grid-column: span 6;
    min-height: 4vh;
}

nav ul li{
    list-style:none;
    display:inline;
}

nav ul li a{
    margin-left:5vw;
    margin-top:3vh;
    width:20vw;
    font-size:5vw;
    text-decoration: none;
    color:#696969;
}
main{
    font-family: "Segoe UI";
    font-size: 5vw;
    color:#696969;
}
section{
    width:100vw;
}
 
section div{
    grid-column: span 6;
    margin-top:2vh;
}

h1{
    grid-column: span 6;
    padding-top:16vh;
    margin-left: 2vw;
    font-size: 7vw;
}

#Sobre{
    padding: 0 3vw 0 3vw;
}

#Sobre div div{
    width:50%;
    float:left;
    align-self: flex-end; 
}

#Sobre div div img{
    width:90%;
    border:#000 1px solid;
}

#Sobre div p{
    text-indent: 20px;
    text-align:center;
}


#p{
    display:none;
    padding-top: 5vh;
}

#Cursos{
    padding: 0 3vw 0 3vw;
}

#Cursos div img{
    
    width: 90%;
}

#Cursos div h2{
    background-color: #E6E6E6;
    text-align: Center;
    padding:2vh 0 2vh 0;
}

#curso-wd{
    border-top: 1vh solid #0f0;
}

#curso-prog{
    border-top: 1vh solid #f00;
}

#curso-bd{
    border-top: 1vh solid #00f;
}

#Planos{
    padding: 0 3vw 0 3vw;
}

#Planos div h2{
    text-align:center;
    background-color: #E6E6E6;
    padding: 1vh 0 1vh 0;
    border: #000 solid 1px;
}

#Planos div p{
    background-color: #FFF;
    line-height: 3;
    text-align: justify;
    padding: 0 2vw 0 2vw;
}

#bronze{
    border-top: 2vh solid #DAA520;
    border-bottom:  2vh solid #DAA520;
    background-color: #DAA520;
}
#Bronze{
    padding: 1vh 2vw 1vh 2vw;
}

#c{
    display:none;
}

#prata{
    border-top: 2vh solid #CFCFCF;
    border-bottom:  2vh solid #CFCFCF;
    background-color:  #CFCFCF;
}

#Prata{
    padding: 1vh 2vw 1vh 2vw;   
}

#ouro{
    border-top: 2vh solid #FFFF00;
    border-bottom:  2vh solid #FFFF00;
    background-color:  #FFFF00;
}

#Ouro{
    padding: 1vh 2vw 1vh 2vw;   
}

#Valores{
    padding: 0 3vw 0 3vw;
    margin-bottom: 5vh;
}

#Valores div{
    margin-top: 5vh;
    margin-bottom: 2vh;
}

#qualidade h2{
    border-left: 1vw solid #0000CD;
}

#eficiência h2{
    border-left:1vw solid #f00;
}

#compromisso h2{
    border-left: 1vw solid #006400;
}

#inovação h2{
    border-left:1vw solid #F7FE2E;
}

#pesquisa h2{
    border-left: 1vw solid #DF01A5;
}

#habilidade h2{
    border-left: 1vw solid #00BFFF;
}

@media only screen and (min-width: 980px){
    #logo{
        grid-column: 1/2;
    }

    #logo img{
        width: 10vw;
    }

    nav{
        grid-column: 3/6;
        padding-top: 6vh;
        margin-left: 10vw;
    }

    nav ul li a{
        font-size: 1.2vw;
        font-weight: bold;
    }

    section div{
        grid-column: span 2;
    }

    main{
        font-size: 1.8vw;
    }
    h1{
        font-size:2vw;
    }

    #h-cursos{
        padding-top: 10vh;
    }

    #h-planos{
        padding-top: 10vh;
    }

    #h-valores{
        padding-top: 10vh;
    }

    #Sobre div{
        grid-column: span 3;
        font-weight: bold;
    }
    
    #p{
        display: block;
    }

    #Cursos{
        display:flex;
        width:100%;
    }

    #Cursos div{
        align-self: flex-end;
        width:30%;
    }

    #curso-wd{
        border-top: 3vh solid #0f0;
    }
    
    #curso-prog{
        border-top: 3vh solid #f00;
    }
    
    #curso-bd{
        border-top: 3vh solid #00f;
    }

    #Planos{
        display:flex;
    }

    #Planos div{
        align-self: flex-end;
        width: 30%;
        font-weight: bold;
    }

    #c{ 
        background-color: #FFF;
        display:block;
        text-align: center;
        border: 1px solid #000;
        margin-left: 9vw;
        font-size: 1.5vw;;
    }

    #bronze{
        border-top: 3vh solid #DAA520;
        border-bottom:2vh solid #DAA520;
        border-right:1vh solid #DAA520;
        border-left:1vh solid #DAA520; ;
    }

    #prata{
        border-top: 3vh solid #CFCFCF;
        border-bottom: 2vh solid #CFCFCF;
        border-right:1vh solid #CFCFCF;
        border-left:1vh solid #CFCFCF;
    }
    
    #ouro{
        border-top: 3vh solid #FFFF00;
        border-bottom: 2vh solid #FFFF00;
        border-right:1vh solid #FFFF00;
        border-left:1vh solid #FFFF00;
    }

}
